@{
    ViewData["Title"] = "About";
}

<div class="">
    <h3 class="display-6">Youtube Mp3 Convertor version 1.0</h3>
</div>

<div class="container-md mt-5">


    <h5 class="display-6">Used Technologies</h5>
    <p>.Net Core 6</p>
    <p>Chromely</p>
    <p>SignalR</p>
    <p>Ajax-jquery-bootstrap</p>

</div>

