
@{
    ViewData["Title"] = "DownloadVideo";
}


<h1>DownloadVideo</h1>





<div class="container-md">
    @*<form asp-action="DownloadVideo" method="post" id="downloadForm">
        <label for="url">YouTube URL:</label>
        <input type="text" id="url" name="url" required />
        <button type="button" id="downloadButton">Download</button>


    </form>*@

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="url" name="url" placeholder="Copy Youtube link here" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button id="grab-button" class="btn btn-outline-secondary" type="button" >Grap Audios</button>
    </div>

    <div id="download-area">
        <div class="progress d-flex mt-3" style="height:40px">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span class="position-absolute p-3" style=" color: black;">Ludvig Forssell - BB's Theme (from Death Stranding) (Official Audio)</span></div>
            <button type="button" id="downloadButton" class="btn btn-success ms-auto"> Download</button>
        </div>
        <div class="progress d-flex mt-3" style="height:40px">
            <div class="progress-bar p-3" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="position-absolute">Ludvig Forssell - BB's Theme (from Death Stranding) (Official Audio)</span></div>
            <button type="button" id="downloadButton" class="btn btn-success ms-auto"> Download</button>
        </div>
    </div>
</div> 





@if (ViewBag.Output != null)
{
    <pre>@ViewBag.Output</pre>
}


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.0/signalr.min.js"></script>

    <script>

        const connection = new signalR.HubConnectionBuilder().withUrl("/downloadHub").build();

        connection.on("ReceiveProgress", (id, progress) => {

            const progressBar = $(`#progress-bar-${id}`);
            const percent = Math.round(progress);

            progressBar.css("width", `${percent}%`);
            progressBar.attr("aria-valuenow", percent);
            progressBar.find('span').text(`${percent}%`);
        });

        $(document).ready(function () {

            connection.start().catch(err => console.error(err.toString()));

            $("#grab-button").click(function () {

                const url = $("#url").val();
                $.ajax({
                    url: "/Home/GrabVideoAndAudios",
                    type: "POST",
                    data: {
                        url: url,
                    },
                    success: function (response) {
                        if (response.isValid) {
                            console.log(response)
                            $('#download-area').empty();
                            $.each(response.data, function (index, item) {

                                $('#download-area').append(`

                                        <div class="progress d-flex mt-3" style="height:40px">
                                            <div id="progress-bar-${response.ids[index]}" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span class="position-absolute p-3" style=" color: black;">${item.title} - ${item.adaptiveKind} - bitrate(${item.audioBitrate}) - ${item.audioFormat}</span></div>
                                            <input type="hidden" id="uri-${response.ids[index]}" value="${item.uri}">
                                            <input type="hidden" id="title-${response.ids[index]}" value="${item.title}">
                                            <button type="button" id="downloadButton-${response.ids[index]}" onclick="startDownload(this)" class="btn btn-success ms-auto"> Download</button>
                                        </div>

                                `);
                            });
                        } else {
                            //toast..vs
                        }

                    },
                    error: function () {
                        console.error("Error Happened");
                    }
                });

            });
        });

        function startDownload(button) {

            const downloadId = $(button).attr('id').split('-').slice(1).join('-');
            const videoUri = $(`#uri-${downloadId}`).val(); 
            const title = $(`#title-${downloadId}`).val();


            $.ajax({
                url: "/Home/DownloadVideo",
                type: "POST",
                data: {
                    audioUri: videoUri,
                    downloadId: downloadId,
                    title: title
                },
                success: function (data) {

                    console.log("İndirme işlemi başlatıldı." + data);
                },
                error: function () {
                    console.error("İndirme işlemi başlatılamadı.");
                }
            });
        }

    </script>
}