@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-6">Convert your videos to mp3</h3>
</div>

<div class="container-md mt-5">


    <div class="input-group mb-3">
        <input type="text" class="form-control" id="url" name="url" placeholder="Copy Youtube link here" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button id="grab-button" class="btn btn-outline-secondary" type="button">Grap Audios</button>
    </div>

    <div id="download-area">

    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3 mb-5">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong style="color:red" id="message-title" class="me-auto"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="message-area" class="toast-body">
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/js/download-audio.js"></script>

}

